[submodule "external/mujoco_ros2_control"]
	path = external/mujoco_ros2_control
	url = git@github.com:ETHZ-RobotX/mujoco_ros2_control.git
[submodule "external/unitree_a2_mujoco"]
	path = external/unitree_a2_mujoco
	url = git@github.com:ETHZ-RobotX/unitree_a2_mujoco.git
